@keyframes discount-tag {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-25px);
  }
}
@keyframes discount-tag2 {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-25px);
  }
}

.dicount-tag-div {
  padding-top: 160px;
  padding-right: 50px;
  margin-left: -250px;
  animation: discount-tag 10s ease-in-out;
  animation-iteration-count: 1;
}
.dicount-tag-div2 {
  padding-top: 160px;
  width: 20px;
  margin-right: -50px;
  animation: discount-tag2 10s ease-in-out;
  animation-iteration-count: 1;
}
.dicount-tag-img {
  width: 230px;
}
.dicount-tag-img2 {
  width: 230px;
}
